.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  margin-top: 60px !important;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  // background-size: cover;

  .img {
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
    min-width: 120px;
    height: 120px;
    background-size: cover;
    background-position: top;
    border-radius: 16px;
    position: absolute;
    top: -60px;
    left: 20px;
  }
  .cardInfo {
    padding: 20px;
    margin-top: 55px;
    .name {
      font-size: 22px;
      margin-bottom: 12px;
      font-weight: 700;
      color: rgb(0, 104, 31);
    }
    .bdayInfo,
    .workInfo {
      display: flex;
      align-items: center;
      margin-top: 8px;
      img {
        margin-right: 10px;
      }
      div {
        font-size: 14px;
        color: rgb(58, 58, 58);
      }
    }
  }
}
