.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  margin-top: 60px !important;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.87);
  .img {
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
    min-width: 120px;
    height: 120px;
    background-size: cover;
    background-position: top;
    border-radius: 16px;
    position: absolute;
    top: -60px;
    left: 20px;
  }
  .status {
    margin: 20px;
    position: absolute;
    right: 0;
    width: 140px;
    // height: 24px;
    line-height: 24px;
    border-radius: 11px;
    text-align: center;
    padding: 3px 8px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    box-sizing: border-box;
  }
  .info {
    padding: 20px;
    margin-top: 55px;
    .name {
      font-size: 22px;
      margin-bottom: 12px;
      font-weight: 600;
    }
    .bdayInfo,
    .workInfo {
      display: flex;
      align-items: center;
      margin-top: 2px;
      img {
        margin-right: 10px;
      }
      div {
        font-size: 14px;
        color: rgb(92, 92, 92);
      }
    }
  }
}
